<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../CSS/Eleox.css">
</head>
<body>
<div class="imgcontainer">
    <img class="logo" src="../MISC/eleox_logo-770x205.png" alt="Avatar" class="avatar">
</div>

<div class="create-container">
    <div class="create-container-inner">


        <div class="login-register">
            <h1 class="sign-in">Sign in</h1>


            <form action="" method="post">

                <label for="username">Username</label>
                <input type="text" name="username" id="username" Placeholder="enter username">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" Placeholder="enter password">
                <br>
                <div class="small-text">Not yet registered?
                    <a href="/sign-up">Register here</a>
                </div>
                <button  onclick="user1()"class="login-register-btn" type="submit">Log In</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="../static/Eleox.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</html>